.item {
    height:100vh;
    width: 99vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.item-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text{
    margin-top: 20%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #393c41;
    align-items: center;
    flex: 1;
}

.itemDesc{
    display: inline-flex;
    font-weight: 200;
    color: lightslategray;
    font-size: 14px;
}
.itemDesc>div {
    padding-left: 5px;
    text-decoration: underline;
}
.item-lowerThird{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.item-buttons {
    display: flex;
}

.item-expand{
    color: bisque;
    width: 100%;
    margin-top: 3%;
    justify-content: center;
    text-align: center;
}

