.header {
    display: flex;
    background-color: transparent;;
    position: fixed;
    width: 99vw;
    top:0;
    margin: 10px;
    z-index: 100;
}

.header-logo {
    width: 100px;
    height: 25px;
    margin-top: 7px;
    margin-left: 1.5%;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-left: 3%;
}

.header-center>p {
    margin: 12px;
    text-transform: uppercase;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 2%;
}

.header-right>p {
    margin: 10px;
}