.header {
    display: flex;
    background-color: transparent;;
    position: fixed;
    width: 99vw;
    top:0;
    margin: 10px;
    z-index: 100;
}

.header-logo {
    width: 100px;
    height: 25px;
    margin-top: 7px;
    margin-left: 1.5%;
}
.header-logo:hover {
    background-color: lightsteelblue;
    border-radius: 20px;
    transition: color .5s;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: 3%;
    margin-bottom: 2%;
}

.header-center>p {
    margin: 12px;
}
.header-center>p:hover {
    background-color: lightsteelblue;
    border: 12px solid lightsteelblue;
    margin: 1px;
    border-radius: 20px;
    transition: background-color .9s ease;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin-right: 1%;
}
.header-right>p {
    margin: 12px;
}
.header-right>span {
    margin: 12px;
}

@media screen and (max-width: 700px) {
    .header {
        display: flex;
        background-color: transparent;;
        position: fixed;
        width: 99vw;
        margin: 11px;
    }

    .header-logo {
        width: 100px;
        height: 25px;
        margin-top: 5px;
        margin-left: 1rem;
    }
    .header-logo:hover {
        background-color: lightsteelblue;
        border-radius: 20px;
        transition: color .5s;
    }

    .header-center {
        display: none;
    }
    .header-right>p {
        display: none;
    }
    .header-right>span {
        padding-left: 11rem;
        color: darkslategray;
        font-weight: 500;
    }
}