.header {
    display: flex;
    background-color: transparent;;
    position: fixed;
    width: 99vw;
    top:0;
    margin: 10px;
    z-index: 100;
}

.header-logo {
    width: 100px;
    height: 25px;
    margin-top: 7px;
    margin-left: 1.5%;
}
.header-logo:hover {
    background-color: lightsteelblue;
    border-radius: 20px;
    transition: color .5s;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: 3%;
    margin-bottom: 2%;
}

.header-center>p {
    margin: 12px;
}
.header-center>p:hover {
    background-color: lightsteelblue;
    border: 12px solid lightsteelblue;
    margin: 1px;
    border-radius: 20px;
    transition: background-color .9s ease;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin-right: 1%;
}
.header-right>p {
    margin: 12px;
}